---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos de moi | Yassin Hammami" description="A propos de Yassin Hammami ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Merci de vous être arrêté sur mon profil et d'avoir pris le temps de le lire."
			>
				<img
					width="1553"
					height="873"
					src="/assets/profil2.jpg"
					alt="Yassin Hammami page perso"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Ma petite histoire</h2>
				<div class="content">
					<p>
						Prenons un décor un peu plus détendu voulez-vous ? </br>
						Avant d'arriver à ce que je suis aujourd'hui, je suis passé par beaucoup d'étape dans ma petite vie.
						De serveur à l'étranger en passant par le secteur de la logistique et de la vente, j'ai exercé beaucoup de métier différents les uns des autres.
						Un point en commun les réunis tous : </br> <strong>L'envie d'apprendre et de découvrir ! </strong>
					</p>
					</br>
					<p>
						Lorsque l'on m'a parlé du développement web, je n'étais pas emballé à la base, moi qui aimais découvrir de nouvelles choses, j'avais le sentiment que j'allais rester dans un bureau et ne rien apprendre.
						Je m'étais trompé sur toute la ligne. Chaque jour, j'en apprends sur ce métier.
						Mais encore, j'en ai appris bien plus aussi sur moi même. Lorsqu'on réussi à se déboguer ou qu'on assimile petit à petit une nouvelle technologie, cela boost la confiance en soi mais aussi l'envie d'aller chercher plus loin et ne pas rester à son point de départ.
						Finalement c'est comme si on voyageait, on découvre et on apprends des autres et on en apprend sur soi !
					</p>
					</br>
					<p>
						En ayant sauté le pas, j'ai rencontré des personnes formidables, qui m'ont fait découvrir ce métier de différentes manières. Je ne m'attendais pas à celà ! Ce métier est si preneur. 
						C'est un métier qui me passionne de plus en plus et j'ai bien l'intention d'y faire carrière ! 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes formations</h2>
				<div class="content">
					<p>Ecole WebForce3 : </br> Octobre 2022 - février 2023 <br> Développeur Web et Web Mobile </p>
				</div>
				<div class="content">
					<p>Formation en initial</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes expériences </h2>
				<div class="content">
					<p>Start-Up Cs-Lane : </br> Février 2023 - Avril 2023 <br> Mission de développeur back-end en stage </p>
					<p>J'ai été amené à coder un système de réservation sur certains projets en php et en symfony, présent sur mon github. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes compétences </h2>
				<div class="content">
					<p>Maitrise des outils suivants : HTML, CSS, Javascript, MySQL, PHP et SYMFONY.</p>
					<p>Apprentissage des outils à venir : React, Dockers, TypeScript et Angular.</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Actuellement</h2>
				<div class="content">
					<p>Je suis à la recherche d'une entreprise afin poursuivre mon apprentissage.</br>
					Avec toutes ses expériences acquises, je ressens le besoin non seulement de solidifier mes connaissances et d'affiner mes compétences.
				</br>Pour conclure, je suis ouvert à vos proposition et j'aimerais vous rencontrer prochainement pour montrer plus amplement mes motivations et les raisons qui m'incitent à poursuivre mon apprentissage.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
