---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur PHP / Symfony</h2>
		<p>Pendant ma formation, nous avions découvert le language de programmation PHP ainsi que le framework SYMFONY. Facile et intuitif, j'ai décidé de pousser mon apprentissage sur ce language de programmation et ce framework</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur Javascript</h2>
		<p>C'est le language de programmation par excellence et c'est aussi le premier sur lequel j'ai pu apprendre les bases de l'algorithme et de la programmation </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur WordPress</h2>
		<p>C'est le CMS le plus utilisé dans le monde, j'ai pu voir comment m'en servir pour mes futurs projets comme la réalisation d'un site vitrine !! </p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
